@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
/* font-family: 'Outfit', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-family: 'Outfit', sans-serif;
}

.main {
    margin: 0 auto;
    border-radius: 15px;
    background-color: aquamarine;
    padding: 1em;
    width: 90%;
    max-width: 25em;
}

.nft-image {
    border-radius: 10px;
    margin: 0 auto;
    object-fit: scale-down;
    height: auto;
}

.info-container, .footer-attribution {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.eth-cont, .clock-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.avatar {

    border: 2px solid white;
    margin: auto;
    border-radius: 100%;
}