@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
/* font-family: 'Outfit', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #0d192b;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.main {
    margin: 0 auto;
    border-radius: 15px;
    background-color: #14253d;
    color: #2f415b;
    padding: 1.2em;
    width: 90%;
    max-width: 25em;
}

.nft-image {
    border-radius: 10px;
    margin: 0 auto;
    object-fit: scale-down;
    height: auto;
    margin-bottom: 1em;
}

.main-header {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: .5em;
}

.section-content, .timer, .attribution {
    color: #8bacda;
    margin-bottom: 1em;
}

.price {
    color: #00fff7;
    font-weight: 600;
    font-size: 1rem;

}

.info-container, .footer-attribution{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.eth-cont, .clock-cont {
    
}

hr {
    color: #2f415b;
}

.avatar {
    border: 1px solid #fff;
    border-radius: 100%;
    object-fit: scale-down;
    max-width: 3em;
}

.author {
    color: #fff;
}